Package: cyckle-ai
Version: 1.0a5
Architecture: amd64
Maintainer: Zane Apatoff <zane.apatoff@gmail.com>
Installed-Size: 8
Depends: python3.13-dev, python3-pip
Section: utils
Priority: optional
Homepage: https://vaultdweller-2287.github.io/
Description: Cyckle AI package
 A brief description of your package.
