Source: cyckle-ai
Section: utils
Priority: optional
Maintainer: Zane Apatoff <zane.apatoff@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://vaultdweller-2287.github.io/
Vcs-Git: https://github.com/vaultdweller-2287/Cyckle-ai.git
Vcs-Browser: https://github.com/vaultdweller-2287/Cyckle-ai

Package: cyckle-ai
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, python3.13-dev, python3-pip
Description: Cyckle AI package
 A brief description of your package.